@import '../index.scss';


.landing {
    height: 100vh;
    position:fixed;
    z-index: 0;
    background-image: url('../assets/future-grid.webp');
    background-size: cover;
    background-position: center;
    background-color: $violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        color: $white;
        text-align: center;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 4rem;
    }
    &__buttonFull {
        color: $violet;
        background-color: $white;
        border: 1px solid $white;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        padding: 16px 32px;
        border-radius: 3px;
        cursor: pointer;
    }
    &__buttonFull:hover {
        color: $white;
        background-color: $violet;
        border: 1px solid $white;
    }
    &__buttonEmpty {
        color: $white;
        background-color: $violet;
        border: 1px solid $white;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        padding: 16px 32px;
        border-radius: 3px;
        cursor: pointer;
    }
    &__buttonEmpty:hover {
        color: $violet;
        background-color: $white;
        border: 1px solid $violet;
    }
}