@import "../index.scss";

.works {
  &__container {
    position: relative;
    top: 100vh;
    height: 100vh;
    background-color: $black;
  }
  &__container h2 {
    padding-top: 20rem;
    text-align: center;
    color: white;
  }
}
