.modal {
  background-color: rgba(49, 49, 49, 0.21);
  backdrop-filter: blur(5px);
  width: 90rem;
  height: 45rem;
  position: absolute;
  top: 44rem;
  left: 0;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    width: 100%;
    height: 1200px;
  }
}

.modal__content {
  margin: auto;
  margin-top: 5rem;
  width: 90%;
  height: 73%;
  background-color: white;
  border-radius: 15px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    height: 85%;
  }
}

.modal__closeButton {
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 15px;
  border-radius: 15px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    font-size: 10px;     
  }
}

.modal__title {
  color: #00224e;
  text-align: center;
  margin-top: 10px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    font-size: 35px;  
   margin-top: 1px;   
  }
}

.modal__description {
  font-size: 1.2rem;
  text-align: center;
  padding-right: 70px;
  padding-left: 70px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    font-size: 15px;
    padding: 20px;
    margin-top: -30px;
  }
}

.modal__pictures {
  height: 280px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 40px;
  margin-top: -30px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 0px;
    margin-top: 20px;
    
  }
}

.modal__pictures img {
  width: 30%; /* Ajustez la largeur selon vos besoins */
  height: 100%; /* La hauteur sera automatiquement ajustée pour maintenir le ratio d'aspect */
  object-fit: contain;
  border-radius: 20px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }
}

.modal__link {
  padding-left: 620px;
  margin-top: -30px;
  margin-bottom: 20px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    padding-left: 150px;
    padding-top: 300px;
}
  
}

.modal__decoration {
  background-color: #00224e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 20px;
  @media screen and (min-width: 375px) and (max-width: 425px) {
    position: relative;
        top: 40px;
  }
}
