.section{
    height: 700px;
    padding-top: 20px;
    @media (max-width: 768px) {
        height: auto;
      }
    @media screen and (min-width: 375px) and (max-width: 425px) {
        height: auto;
    }
    &__title{
        display: flex;
        justify-content: center;
        color: #00224E;
    }
}

